@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --first-color: #eef5ff;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-brand img {
  margin: 8.5px 0px;
}

.nav-link {
  font-weight: 500;
}

nav {
  background-color: var(--first-color);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.094);
}

.about_section {
  width: 100%;
  height: 80vh;
  max-height: 80vh;
  background-color: var(--first-color);
}

.about_container {
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.self_image {
  width: 700px;
  border-right: 1px solid rgba(128, 128, 128, 0.261);
}

.about_details {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 40%;
}

.about_details h1 {
  font-size: 6rem;
  font-weight: 900;
}

.about_details h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10px;
}

.about_details p {
  font-size: 1rem;
  padding: 10px;
  text-align: justify;
  width: 400px;
}

.button_cont {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px;
  gap: 10px;
}

.button_cont a {
  padding: 28px;
  border-radius: 800px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  border: 1px solid black;
}

.button_cont a:nth-child(1) {
  background-color: #86b6f6;
}

.button_cont a:nth-child(2) {
  background-color: #52d3d8;
}

.button_cont a:nth-child(3) {
  background-color: #176b87;
}

.button_cont a:hover {
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

.footer_section {
  width: 100%;
  height: 13vh;
  background-color: var(--first-color);
}

.sepration-line {
  border-top: 1px solid rgba(128, 128, 128, 0.723);
  width: 90%;
  margin: 0 auto;
}

.footer_container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 1.5%;
}

.phone_column {
  align-self: center;
  text-align: left;
}

.phone_column P:nth-child(1),
.email_column p:nth-child(1) {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.phone_column P:nth-child(2),
.email_column p:nth-child(2) {
  margin-bottom: 0;
}

.social_column p {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.fa-brands {
  padding: 0 5px;
  font-size: 1.1rem;
  padding-top: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.fa-brands:hover {
  color: #52d3d8;
  transform: scale(1.5);
}

.copyright_column {
  text-align: center;
  font-size: 0.9rem;
  align-self: center;
}

.resume_section {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
}

.resume_container {
  width: 100%;
}

.experience_details,
.education_details,
.skill_details {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 0.7fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.space_content {
  grid-row: 1;
  height: 35px;
}

.title_main {
  font-weight: 700;
  font-size: 3rem;
  grid-row: 2;
  justify-self: flex-start;
  margin-left: 20px;
  padding: 20px;
  letter-spacing: 1px;
}

.work_experience,
.education_title,
.skills_title {
  grid-row: 3;
  justify-self: flex-start;
  margin-left: 20px;
  padding: 20px;
}

.work_experience h2,
.education_details h2,
.skills_title h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 650;
}

.designer_experince,
.bachelor_details,
.skill_cont {
  grid-row: 3;
  grid-column: 3;
  padding: 15px;
}

.designer_serve_year,
.bachelor_serve_year {
  grid-column: 2;
  grid-row: 3;
  justify-self: flex-end;
  padding: 15px;
}

.designer_experince span:nth-child(1),
.photographer_experience span:nth-child(1),
.intern_experience span:nth-child(1),
.bachelor_details span:nth-child(1),
.highschool_details span:nth-child(1) {
  font-weight: 650;
}

.designer_experince p,
.photographer_experience p,
.intern_experience p,
.bachelor_details p,
.highschool_details p {
  font-size: 0.9rem;
  padding-top: 10px;
  text-align: justify;
  padding-bottom: 10px;
}

.photographer_serve_year,
.highschool_serve_year {
  grid-column: 2;
  grid-row: 4;
  justify-self: flex-end;
  padding: 15px;
}

.photographer_experience,
.highschool_details {
  grid-column: 3;
  grid-row: 4;
  padding: 15px;
}

.intern_serve_year {
  grid-column: 2;
  grid-row: 5;
  justify-self: flex-end;
  padding: 15px;
}

.intern_experience {
  grid-column: 3;
  grid-row: 5;
  padding: 15px;
}

.skill_cont li {
  padding: 5px 0;
}

.skill_cont {
  margin-bottom: 50px;
}

.project_section {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
}

.project_container {
  width: 100%;
}

.project01,
.project02,
.project03 {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 1fr;
  gap: 40px;
}

.project01 h1 {
  font-weight: 750;
  font-size: 2.5rem;
  grid-row: 2;
  justify-self: flex-start;
  padding: 20px;
  margin-left: 10px;
  letter-spacing: 1px;
}

.project01_title,
.project02_title,
.project03_title {
  grid-row: 3;
  justify-self: flex-start;
  padding: 20px;
}

.project01_title h2,
.project02_title h2,
.project03_title h2 {
  font-weight: 650;
  font-size: 1.8rem;
  padding: 10px;
}

.project01_title p,
.project02_title p,
.project03_title p {
  font-size: 1rem;
  padding: 10px;
  text-align: justify;
}

.abstract_img,
.project02_img,
.project03_img {
  grid-row: 3;
  padding: 20px;
  grid-column: 2;
  justify-self: center;
}

.abstract_img img,
.project02_img img,
.project03_img img {
  width: 500px;
}

.project03 {
  padding-bottom: 50px;
}
