@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: var(--first-color);
}

:root {
  --first-color: #eef5ff;
}

/* Navbar Section CSS */

.navbar-brand {
  font-weight: 700;
}

.navbar-brand img {
  margin: 8.5px 0px;
}

.nav-link {
  font-weight: 500;
}

nav {
  background-color: var(--first-color);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.094);
}

/* Navbar-Toggle Animation */

.navbar-nav {
  animation: Fade-In 1.3s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes Fade-In {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Home Page Sectoin CSS */

.about_section {
  width: 100%;
  height: 90vh;
  background-color: var(--first-color);
}

.about_container {
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.self_image {
  width: 700px;
  border-right: 1px solid rgba(128, 128, 128, 0.261);
}

.about_details {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 40%;
}

.about_details h1 {
  font-size: 6rem;
  font-weight: 900;
}

.about_details h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding-left: 10px;
}

.about_details p {
  font-size: 1rem;
  padding: 10px;
  text-align: justify;
  width: 400px;
}

.button_cont {
  display: flex;
  /* justify-content: space-between; */
  padding: 10px;
  gap: 10px;
}

.button_cont button {
  border-radius: 800px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  width: 140px;
  height: 140px;
}

.button1 {
  background-color: #86b6f6;
}

.button2 {
  background-color: #52d3d8;
}

.button3 {
  background-color: #176b87;
}

.button_cont button:hover {
  text-decoration: none;
  color: black;
  background-color: transparent;
  transition: 0.5s ease-in-out;
}

/* Home page Animation CSS */

.about_container {
  animation: Fade-In 1.3s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes Fade-In {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Footer section css */

.footer_section {
  width: 100%;
  background-color: var(--first-color);
}

.sepration-line {
  border-top: 1px solid rgba(128, 128, 128, 0.723);
  width: 90%;
  margin: 0 auto;
}

.footer_container {
  display: grid;
  width: 90%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 25px;
}

.phone_column {
  align-self: center;
  text-align: left;
}

.phone_column P:nth-child(1),
.email_column p:nth-child(1) {
  font-weight: 700;
  margin-bottom: 0;
  font-size: 1.3rem;
}

.phone_column P:nth-child(2),
.email_column p:nth-child(2) {
  margin-bottom: 0;
}

.social_column p {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0;
}

.fa-brands {
  padding: 0 5px;
  font-size: 1.1rem;
  padding-top: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.fa-brands:hover {
  color: #52d3d8;
  transform: scale(1.5);
}

.copyright_column {
  text-align: center;
  font-size: 0.9rem;
  align-self: center;
}

/* Footer Animation CSS */

.footer_container {
  animation: Fade-In 1s 0.5s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes Fade-In {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Resume Page Section CSS */

.resume_section {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
}

.resume_container {
  width: 100%;
}

.experience_details,
.education_details,
.skill_details {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 0.7fr 1fr;
  gap: 20px;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.space_content {
  grid-row: 1;
  height: 35px;
}

.title_main {
  font-weight: 700;
  font-size: 3rem;
  grid-row: 2;
  justify-self: flex-start;
  margin-left: 20px;
  padding: 20px;
  letter-spacing: 1px;
}

.work_experience,
.education_title,
.skills_title {
  grid-row: 3;
  justify-self: flex-start;
  margin-left: 20px;
  padding: 20px;
}

.work_experience h2,
.education_details h2,
.skills_title h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 650;
}

.designer_experince,
.bachelor_details,
.skill_cont {
  grid-row: 3;
  grid-column: 3;
  padding: 15px;
}

.designer_serve_year,
.bachelor_serve_year {
  grid-column: 2;
  grid-row: 3;
  justify-self: flex-end;
  padding: 15px;
}

.designer_experince span:nth-child(1),
.photographer_experience span:nth-child(1),
.intern_experience span:nth-child(1),
.bachelor_details span:nth-child(1),
.highschool_details span:nth-child(1) {
  font-weight: 650;
}

.designer_experince p,
.photographer_experience p,
.intern_experience p,
.bachelor_details p,
.highschool_details p {
  font-size: 0.9rem;
  padding-top: 10px;
  text-align: justify;
  padding-bottom: 10px;
}

.photographer_serve_year,
.highschool_serve_year {
  grid-column: 2;
  grid-row: 4;
  justify-self: flex-end;
  padding: 15px;
}

.photographer_experience,
.highschool_details {
  grid-column: 3;
  grid-row: 4;
  padding: 15px;
}

.intern_serve_year {
  grid-column: 2;
  grid-row: 5;
  justify-self: flex-end;
  padding: 15px;
}

.intern_experience {
  grid-column: 3;
  grid-row: 5;
  padding: 15px;
}

.skill_cont li {
  padding: 5px 0;
}

.skill_cont {
  margin-bottom: 50px;
}

/* Resume Page Animaation CSS */

.resume_container {
  animation: Fade-In 1.3s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes Fade-In {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Project Page Section CSS */

.project_section {
  width: 100%;
  height: 100%;
  background-color: var(--first-color);
}

.project_container {
  width: 100%;
}

.project01,
.project02,
.project03 {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 0.5fr 1fr;
  gap: 40px;
  align-items: center;
}

.project01 h1 {
  font-weight: 750;
  font-size: 2.5rem;
  grid-row: 2;
  justify-self: flex-start;
  padding: 20px;
  margin-left: 10px;
  letter-spacing: 1px;
}

.project01_title,
.project02_title,
.project03_title {
  grid-row: 3;
  justify-self: flex-start;
  padding: 20px;
}

.project01_title h2,
.project02_title h2,
.project03_title h2 {
  font-weight: 650;
  font-size: 1.8rem;
  padding: 10px;
}

.project01_title p,
.project02_title p,
.project03_title p {
  font-size: 1rem;
  padding: 10px;
  text-align: justify;
}

.abstract_img,
.project02_img,
.project03_img {
  grid-row: 3;
  padding: 20px;
  grid-column: 2;
  justify-self: center;
}

.abstract_img img,
.project02_img img,
.project03_img img {
  width: 500px;
}

.project03 {
  padding-bottom: 50px;
}

/* Project Page Animaation CSS */

.project_container {
  animation: Fade-In 1.3s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes Fade-In {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

/* Contact Page Section CSS */

.contact_section {
  width: 100%;
  height: 85vh;
  background-color: var(--first-color);
}

.contact_container {
  width: 75%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 0.3fr 1fr;
  grid-template-rows: 0.3fr 0.1fr 1fr 0.4fr;
  align-items: center;
}

.contact_details {
  grid-row: 3;
  grid-column: 1;
  justify-self: flex-start;
  padding: 30px;
}

.contact_details h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.contact_details h2 {
  font-size: 2rem;
  font-weight: 650;
}

.contact_details p {
  padding-bottom: 20px;
}

.form_container {
  grid-row: 3;
  grid-column: 3;
  padding: 30px;
  margin-top: 50px;
}

.contact_form_group {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr;
  grid-template-rows: 1fr;
  column-gap: 15px;
}

label {
  font-size: 1.1rem;
  letter-spacing: 1px;
}

#firstname,
#lastname {
  grid-row: 2;
  background-color: transparent;
  border: 1px solid black;
  width: 240px;
  height: 40px;
  padding: 8px;
}

.email_id,
.sub_ject {
  grid-row: 3;
  padding-top: 5px;
}

#emailaddress,
#subject {
  grid-row: 4;
  background-color: transparent;
  border: 1px solid black;
  width: 240px;
  height: 40px;
  padding: 8px;
}

.message_block {
  grid-row: 5;
  padding-top: 5px;
}

#message {
  grid-row: 6;
  background-color: transparent;
  border: 1px solid black;
  resize: none;
  padding: 8px;
}

#submit {
  grid-row: 6;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin: 5px;
  justify-self: flex-start;
  align-self: center;
  background-color: #0cb0e6;
  border: 1px solid black;
  font-weight: 700;
  font-size: 1.2rem;
}

#submit:hover {
  background-color: transparent;
  transition: all 0.5s ease-in-out;
}

/* Contact Page Animation CSS */

.contact_container {
  animation: Fade-In 1.3s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes Fade-In {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}

.contact_form_group {
  animation: Slide-In 2s cubic-bezier(0.85, 0, 0.15, 1);
}

@keyframes Slide-In {
  0% {
    transform: translateX(-1000px);
    opacity: 0%;
  }

  100% {
    transform: translateX(0);
    opacity: 100%;
  }
}
